{% extends 'flatpages/default.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <h1>Новости</h1>
    <h2>Всего: {{ news|length }}</h2>
    {% if news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Превью</td>
            </tr>
        {% for dnews in news %}
            <tr>
                <td>{{ dnews.title }}</td>
                <td>{{ dnews.published|date:'d M Y' }}</td>
                <td>{{ dnews.description|truncatewords:20 }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock content %}